html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  background: radial-gradient(circle at top, #120014, #000000 70%);
  color: white;
}

canvas {
  position: fixed;
  inset: 0;
  touch-action: none;
}

/* SADE YAZI*/
#hint {
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5;
  color: white;
  opacity: 0.7;
  pointer-events: none;
  z-index: 20;
  transition: opacity 0.6s ease;
}
#loveText {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: opacity 1s ease;
}

#loveText.show {
  opacity: 0.85;
}
